*{
    margin: 0;
    border: border-box;
    font-family: arial;
}

.container-1{
    padding: 14px 18px 18px;
    height: 1704px;
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    
    
}
.content-header{
    width: 1000px;
    height: 36px;
    padding-left: 235px;
    /* font-size: 28px; */
}
.cards-wrapper{
    width: 1000px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin-left: 235px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.cards{
    width: 318px;
    height: 100px;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid rgb(189, 189, 189);
    display: flex;
    align-items: center;
}

/* container */
.acc-img img{
    width: 66px;
    height: 66px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.acc-content span{
    font-size: 17px;
    
}
.acc-content p{
    font-size: 14px;
    color: #565959;
    padding-right: 0.4rem;
}
/*  */
.line{
    height: 1px;
    background-color: #bababa;
    margin-left: 16%;
    margin-right: 17%;
}
/*  */
.cards-wrapper2{
    width: 1000px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    margin-left: 235px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.first-row{
    width: 288px;
    height: 430px;
    background-color: #bababa;
    padding: 14px 18px;
    display: block;
}
.inner-box{
    background-color: aliceblue;
    height: 100%;
}
.inner-box h2{
    font-size: 17px;
}
.inner-box li{
    font-size: 14px;
    list-style: none;
    margin-bottom: 4px;
}










.second-row{
    width: 318px;
    background-color: #bababa;
    height: 350px;
}
.third-row{
    width: 318px;
    background-color: #bababa;
    height: 200px;

}